---
title: Customer-Based Corporate Valuation for Subscription-Based Businesses
author: Abdullah Mahmood
date: last-modified
format:
    html:
        theme: cosmo
        css: quarto-style/style.css        
        highlight-style: atom-one        
        mainfont: Palatino
        fontcolor: black
        monobackgroundcolor: white
        monofont: Menlo, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace
        fontsize: 13pt
        linestretch: 1.4
        number-sections: true
        number-depth: 5
        toc: true
        toc-location: right
        toc-depth: 5
        code-fold: true
        code-copy: true
        cap-location: bottom
        format-links: false
        embed-resources: true
        anchor-sections: true
        code-links:   
        -   text: GitHub Repo
            icon: github
            href: https://github.com/abdullahau/customer-analytics/
        -   text: Quarto Markdown
            icon: file-code
            href: https://github.com/abdullahau/customer-analytics/blob/main/buyer-behavior-summary-transaction-log.qmd
        html-math-method:
            method: mathjax
            url: https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
---

Source: [Valuing Subscription-Based Businesses Using Publicly Disclosed Customer Data](https://papers.ssrn.com/sol3/papers.cfm?abstract_id=2701093)

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

%config InlineBackend.figure_formats = ['svg']

-  [US Census Bureau’s Housing Vacancies and Homeownership CPS/HVS](https://www.census.gov/housing/hvs/data/histtabs.html) 
-  [Quarterly Estimates of the Housing Inventory](https://www.census.gov/housing/hvs/data/histtab8.xlsx):

Alternative Source: FRED (EOCCUSQ176N) Housing Inventory Estimate: Occupied Housing Units in the United States

-   **Units**: Thousands of Units, Not Seasonally Adjusted
-   **Frequency**: Quarterly
-   **Notes**: A housing unit is occupied if a person or group of persons is living in it at the time of the interview or if the occupants are only temporarily absent, as for example, on vacation. The persons living in the unit must consider it their usual place of residence or have no usual place of residence elsewhere. The count of occupied housing units is the same as the count of households.

In [2]:
file_path = "data/quarterly-estimates-housing-inventory-US.csv"
df_full = pd.read_csv(file_path)
df_full

    Year      Q1      Q2      Q3      Q4
0   1965   56848   57459   57846   57850
1   1966   57676   58646   58925   58696
2   1967   58493   59143   60133   60133
3   1968   60451   60739   61196   61423
4   1969   61759   62141   62412   62730
..   ...     ...     ...     ...     ...
59  2020  124391  126780  126703  125805
60  2021  125944  126155  126914  127430
61  2022  127574  127990  128307  129396
62  2023  129234  130100  130386  131206
63  2024  131092  131414  132114  132404

[64 rows x 5 columns]

In [3]:
file_path = "data/revised-quarterly-estimates-housing-inventory-US.csv"
df_revised = pd.read_csv(file_path)
df_revised

    Year        Q1      Q2      Q3      Q4
0   2000       NaN  102274  102896  103646
1   2001  103456.0  103411  104228  104698
2   2002  104719.0  105276  105527  105759
3   2003  105884.0  105989  106068  106505
4   2004  106738.0  107020  107932  108735
5   2005  108863.0  109057  109736  110281
6   2006  110350.0  110560  110779  111096
7   2007  110715.0  111342  111251  111724
8   2008  111326.0  111601  111939  111823
9   2009  111862.0  112453  112381  112485
10  2010  112500.0  112726  112941  113445
11  2011  113119.0  113399  113559  114102
12  2012  114145.0  114228  114741  115125
13  2013  114778.0  115244  115415  115712
14  2014  115552.0  115992  116253  117686
15  2015  117360.0  117702  117799  118264
16  2016  118038.0  118772  119129  119226
17  2017  119435.0  119447  119669  120821
18  2018  120662.0  121143  121267  122396
19  2019  122255.0  122329  122617  123848
20  2020  124299.0  126726  126672  125814
21  2021  125996.0  126279  127090  127696
22  2022  127928.0  128206  128580  129718
23  2023  129600.0  130044  130312  131113
24  2024  130982.0  131414  132114  132404

In [4]:
df_full_lf = pd.wide_to_long(df_full, stubnames='Q', i='Year', j='Quarter').sort_index().rename(columns={'Q':'Total Household'})
df_rev_lf = pd.wide_to_long(df_revised, stubnames='Q', i='Year', j='Quarter').sort_index().rename(columns={'Q':'Total Household'})

Number of vehicles on the road data: 

-  [Highway Statistics - State motor-vehicle registrations - MV-1](https://www.fhwa.dot.gov/policyinformation/statistics.cfm)
-  [Automobile Profile - Bureau of Transportation Statistics](https://www.bts.gov/content/automobile-profile)


Vehicle sales data (for macroeconomic covariate):